<html>
<head>

</head>
	<body>
		<p>FLEX Invest</p>
		<p><b>Login<b></p>
	  <form name="login_form" action='/clients/login/' method="POST">
	    <span style="font-weight:normal;">
	      {% csrf_token %}
	      {{ login_form.as_p }}
	    </span>
    <input type="submit" value="login">
  	</form>

  <p><b>Create Account<b></p>
  <form name="register_form" action='/clients/register/' method="POST">
    <span style="font-weight:normal;">
      {% csrf_token %}
      {{ register_form.as_p }}
    </span>
  <input type="submit" value="register">
  </form>
  <p>
    <span style="font-weight:normal;">
      {% if error %}
          {{error}}
      {% endif %}
    </span>
  </p>


	</body>
</html>
