{% extends "flex/base.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
           <ul class="nav nav-sidebar">
            <li class="active" id="all_deals"><a href="/flex/investing/all_available_deals/">All active deals</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">Most Funded</a></li>
            <li><a href="#">Least Funded</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Highest Yield</a></li>
            <li><a href="">Lowest Yield</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">12-15% Yield</a></li>
            <li><a href="">15-18% Yield</a></li>
            <li><a href="">18-21% Yield</a></li>
          </ul>
        </div>


        </div>
      </div>
    </div>
    <div id="tranche_div" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="table-responsive">
        <table id="tranche_table" class="table header-fixed">
          <thead id="tranche_head">
            <tr>
              <th>Funded</th>
              <th>Remaining</th>
              <th>Total</th>
              <th>Dated Date</th>
              <th>Maturity</th>
            </tr>
          </thead>
          <tbody id="tranche_items">
          </tbody>
        </table>
      </div>
{% endblock %}
