{% load staticfiles %}
<html>

<head>
  <title>FLEX Invest</title>
  <link rel="shortcut icon" href="{% static "main_controller/logo.png" %}">
  <link rel ="stylesheet" type= "text/css" href = "{%static 'main_controller/css/main.css' %}">
</head>

<body>
<div class="navbar-wrapper">

<nav class="navbar navbar-default navbar-inverse" role="navigation">
<div class='row'>
    <a class="navbar-brand" href="#"><img src="{% static "main_controller/logo.png" %}" alt="Page Logo"></a>
    <ul class="nav navbar-nav navbar-right" id="login">

        <!-- <li class="dropdown"> -->
          <a href="/clients" id = "login"><b>Client Login</b> </a>
<!--         </li>
 -->      </ul>
</div>  
  <!-- <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static "main_controller/logo.png" %}" alt=""/></a> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class = "navbar-brand" href='/'> FLEX Invest</a> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>
        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">How it works <b class="caret"></b></a>
      <ul class="dropdown-menu pull-down">
        <li><a href="#">Muni bond tranching</a></li>
        <li><a href="#">Money Market Investing</a></li>
        <li><a href="#">Residual Investing</a></li>
        <li class="divider"></li>
     
      </ul>
        </li>
        <li><a href="/flex/auctions">Current Auctions</a></li>
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
</div>
<div id = "content">
  <div class = "first">
  <a href='/' class="first col6 x1 y0">
    <img class="bg" src="{% static "main_controller/trading.jpg" %}" alt="">
  </a>  
  <div class="first post-content">
  <h1>Invest in AAA grade securities at the market's most competitive rates</h1>
  </div>
  </div>
  </div>
</div>
</div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'main_controller/main.js' %}"></script>
</body>